<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Snap2HTML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Snap2HTML.Properties.Settings>
            <setting name="txtRoot" serializeAs="String">
                <value/>
            </setting>
            <setting name="chkHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkLinkFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtLinkRoot" serializeAs="String">
                <value/>
            </setting>
            <setting name="chkOpenOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txtTitle" serializeAs="String">
                <value/>
            </setting>
        </Snap2HTML.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
